.app-container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto auto auto;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	padding: 10px;
}

.app-container .app {
	max-width: 270px;
	text-align: center;
	background-color: rgb(190, 190, 190);
	border-radius: 7px;
	color: rgb(70, 70, 70);
	padding: 20px 0;
	font-size: 30px;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	border: none;
}

.app-container .app:hover {
	border: 4px;
	border-color: rgb(160, 185, 160);
	color: rgb(160, 185, 160);
}
