<!DOCTYPE html>
<html>
<head>
    <!-- Title -->
    <title>{% block title %}{% endblock %} - Marvin</title>

    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Marvin Virtual Assistant GUI">
    <meta name="msapplication-TileColor" content="#da532c">
    <link rel="author" href="https://rafaelcenzano.com">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon/favicon-96x96.png') }}">

    <!-- Apple Icon -->
    <link rel="apple-touch-icon" sizes="57x57"   href="{{ url_for('static', filename='img/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60"   href="{{ url_for('static', filename='img/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72"   href="{{ url_for('static', filename='img/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76"   href="{{ url_for('static', filename='img/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-icon-180x180.png') }}">

    <!-- Andriod Icon -->
    <link rel="icon" type="image/png" sizes="48x48"   href="{{ url_for('static', filename='img/favicon/android-icon-48x48.png') }}">
    <link rel="icon" type="image/png" sizes="72x72"   href="{{ url_for('static', filename='img/favicon/android-icon-72x72.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"   href="{{ url_for('static', filename='img/favicon/android-icon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="144x144" href="{{ url_for('static', filename='img/favicon/android-icon-144x144.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/favicon/android-icon-192x192.png') }}">

    <!-- CSS -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/base.css') }}">
    {% block head_css %}
    {% endblock %}

    {% block head_js %}
    {% endblock %}
</head>
<body>
    {% include "navbar.html" %}

    {% block content %}
    {% endblock %}

    {% include "footer.html" %}

    {% block trailing_js %}
    {% endblock %}
</body>
</html>
