{% extends 'base.html' %}

{% block title %}Calculators{% endblock %}

{% block head_css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/apps.css') }}">
{% endblock %}

{% block content %}
<div class="body-wrapper">
{% include "flash.html" %}
<h1 class="center-align">Marvin | Calculators</h1>
<div class="app-container">
  <a href="{{ url_for('kinematics') }}" class="app"><p>Kinematics</p><p class="description">the branch of mechanics concerned with the motion of objects without reference to the forces which cause the motion.</p></a>
  <a href="{{ url_for('sigfigs') }}" class="app"><p>Significant Figures</p><p class="description">each of the digits of a number that are used to express it to the required degree of accuracy, starting from the first nonzero digit.</p></a>
  <a href="{{ url_for('index') }}" class="app"><p>Place Holder Spot</p><p class="description">the branch of mechanics concerned with the motion of objects without reference to the forces which cause the motion.</p></a>
</div>
</div>
{% endblock %}