{% extends 'base.html' %}

{% block title %}Calculators{% endblock %}

{% block head_css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/apps.css') }}">
{% endblock %}

{% block content %}
<div class="body-wrapper">
{% include "flash.html" %}
<h1 class="center-align">Marvin | Calculators</h1>
<div class="app-container">
  <div class="app"><a href="{{ url_for('kinematics') }}"><p>Kinematics</p></a></div>
  <div class="app"><a href="{{ url_for('sigfigs') }}"><p>Significant</p><br><p>Figures</p></a></div>
  <!--<div class="app"><a href="{{ url_for('vectors') }}"><p>Vectors</p></a></div>-->
</div>
</div>
{% endblock %}