{% extends 'base.html' %}

{% block title %}Kinematics{% endblock %}

{% block head_css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}
<div class="body-wrapper">
{% include "flash.html" %}
<h1 class="center-align">Marvin | Kinematics</h1>
<div class="grid-container">
  <div>
    <p>{{ physicsdata.initialVelocity }} m/s</p>
    <p>Initial Velocity</p>
  </div>
  <div>
    <p>{{ physicsdata.finalVelocity }} m/s</p>
    <p>Final Velocity</p>
  </div>
  <div>
    <p>{{ physicsdata.acceleration }} m/s^2</p>
    <p>Acceleration</p>
  </div>
  <div>
    <p>{{ physicsdata.time }} s</p>
    <p>Time</p>
  </div>
  <div>
    <p>{{ physicsdata.sigFigs }}</p>
    <p>Significant Figure{% if physicsdata.sigFigs > 1 %}s{% endif %}</p>
  </div>
  <div>
    <p>{{ physicsdata.deltaDistance }} m</p>
    <p>Delta Distance</p>
  </div>
  <div><a id="submit" onclick="showMath()">View the math<a></div>
  <div><a id="submit" href="{{ url_for('kinematics') }}">Run another calculation!<a></div>
</div>
<div id="mathstuff" hidden>
  <div class="grid-container">
    <div></div>
    <div>{{ physicsdata.record }}</div>
    <div></div>
  </div>
</div>
</div>
{% endblock %}

{% block trailing_js %}
<script>
function showMath() {
  var x = document.getElementById("mathstuff");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
{% endblock %}