{% extends 'base.html' %}

{% block title %}Kinematics{% endblock %}

{% block head_css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/kinematics.css') }}">
{% endblock %}

{% block content %}
<div class="body-wrapper">
<h1 class="center-align">Marvin | Kinematics</h1>
<form action="" method="POST">
  <p>
      {{ form.vi.label }}<br>
      {{ form.vi }}
    </p>
    <p>
      {{ form.vf.label }}<br>
      {{ form.vf }}
    </p>
    <p>
      {{ form.a.label }}<br>
      {{ form.a }}
    </p>
    <p>
      {{ form.t.label }}<br>
      {{ form.t }}
    </p>
    <p>
      {{ form.d.label }}<br>
      {{ form.d }}
    </p>
  <p>{{ form.submit() }}</p>
</form>
</div>
{% endblock %}