{% extends 'base.html' %}

{% block title %}Kinematics{% endblock %}

{% block head_css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/kinematics.css') }}">
{% endblock %}

{% block content %}
<div class="body-wrapper">
<h1 class="center-align">Marvin | Kinematics</h1>
<p>{{ physicsdata.initialVelocity }} m/s</p>
<p>Initial Velocity</p>
<p>{{ physicsdata.finalVelocity }} m/s</p>
<p>Final Velocity</p>
<p>{{ physicsdata.acceleration }} m/s^2</p>
<p>Acceleration</p>
<p>{{ physicsdata.time }} s</p>
<p>Time</p>
<p>{{ physicsdata.deltaDistance }} m</p>
<p>Delta Distance</p>
</div>
{% endblock %}