{% extends 'base.html' %}

{% block title %}Shutdown{% endblock %}

{% block content %}
<div class="body-wrapper">
{% include "flash.html" %}
<h1 class="center-align" id="message">Marvin shutting down<span id="wait">.</span></h1>
</div>
{% endblock %}

{% block trailing_js %}
<script>
    window.dotsGoingUp = true;
    var dots = window.setInterval( function() {
        var wait = document.getElementById("wait");
        var message = document.getElementById("message");
        if ( window.dotsGoingUp ) 
            wait.innerHTML += ".";
        else {
            wait.innerHTML = "";
            message.innerHTML = "<u>Marvin Shutdown</u>";
        }
        if ( wait.innerHTML.length > 5 )
            window.dotsGoingUp = false;
        }, 200);
</script>
{% endblock %}