{% extends 'base.html' %}

{% block title %}Sig Figs{% endblock %}

{% block head_css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}
<div class="body-wrapper">
{% include "flash.html" %}
<h1 class="center-align">Marvin | SigFigs</h1>
<form autocomplete="off" action="" method="POST">
  <div class="center-align">
  <p>
    {{ form.num }}<br>
    {{ form.num.label }}
  </p>
  <p>{{ form.submit() }}</p>
</div>
</form>
</div>
{% endblock %}